
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bolao?schema=public"

FOOTBALL_DATA_API_KEY=""


SESSION_SECRET="troque-isto-por-uma-string-aleatoria-de-32+chars"

SYNC_SECRET="troque-isto-tambem-por-um-valor-aleatorio"

ADMIN_USERNAME="carlos"
